<%- include('partials/header.ejs') %>

<section id="center">

    <div class="box">

        <form action="/edit/<%= filme.id %>" method="POST">

            <div class="inputC">

                <p class="question">Nome</p>
                <label for="nome"></label class="labelinput">
                <input type="text" name="Nome" id="input_nome" required value = "<%= filme.Nome %>">

            </div>

            <br>

            <div class="inputC">
                <p class="question">Genero</p>

                <select id="gen" name="Genero">
                    <%
                    var options = [ "Animação", "Comédia", "Comédia Romântica", "Comédia Dramática", "Documentário", "Drama","Faroeste", "Ficção Científica", "Musical", "Suspense", "Terror / Horror"];
                        for ( var i = 0; i < options.length; i++ ){
                            if (filme.genero===options[i]) { %>
                                <option value="<%=options[ i ] %>" selected><%=options[i] %></option>
                            <%} else{%>
                                <option value="<%=options[ i ] %>" ><%=options[i] %></option>
                            <%}                    
                    }%>
                    </select>

                <br>
                <br>

                <div class="inputC">

                    <p class="question">Imagem Url</p>
                    <label for="Imagem"></label class="labelinput">
                    <input type="url" name="Imagem" id="input_image" required value="<%=filme.Imagem%>">

                </div>

                <br>
                <p class="question">Imagem utilizada</p>

                <div>

                <img src="<%=filme.Imagem%>" height="300" width="250" class="img-file" alt="<% filme.Nome %>">

                </div>

                <br>

                <div class="inputC">

                    <p class="question">Nome do diretor</p>
                    <label for="diretor"></label class="labelinput">
                    <input type="text" name="Diretor" id="input_diretor" required value = "<%=filme.Diretor%>">

                </div> 

                <br>

                <div class="inputC">

                    <p class="question">Ano de lancamento</p>
                    <label for="diretor"></label>
                    <input type="integer" name="AnoDeLançamento" id="input_ano" required value = "<%=filme.AnoDeLançamento%>">

                </div>

                <br>

                <div class="inputC">

                    <p class="question">Sinopse</p>
                    <label for="diretor"></label>
                    <input type="text" name="Sinopse" id="input_sinopse" required value = "<%=filme.Sinopse%>">

                </div>

                <button class="btn" type="submit">Editar</button>
                
                <br>
                <br>
        </form> 
    </div>
</section>

<%- include('partials/footer.ejs') %>